/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE START
        #HTML5
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #BLOCKQUOTE
            #LISTS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #MEDIAQUERIES
        #GRID
            #CLEARFIX
    #BASE SITE
        #STRUCTURE
            #HEADER
            #LOGO
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLE
        #NAVIGATION
            #TOGGLE-NAV (Default)
--------------------------------- */

/* BASE START */

/* HTML5 */
header, footer, aside, nav, main, figure, section, article {
    display: block;
}

/* BASE CONTENT */

/* TYPOGRAPHY */
/* REFERENCE
    62.5%  => 10px
    68.8%  => 11px
    75%    => 12px
    81.3%  => 13px
    87.5%  => 14px
    100%   => 16px
    112.5% => 18px
    125%   => 20px

/* BODY */
body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 87.5%; /* 14px */
    line-height: 1.5em; /* 14px * 1.5em = 21px */
}

/* HEADINGS
    Based upon a traditional Typographic scale
    16 18 21 24 36 48
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px / 16px = 3em */
    line-height: 1em;
}

h2 {
    font-size: 2.25em; /* 36px / 16px = 2.25em */
    line-height: 1em;
}

h3 {
    font-size: 1.5em; /* 24px / 16px = 1.5em */
    line-height: 1.2em;
}

h4 {
    font-size: 1.3125em; /* 21px / 16px = 1.3125em */
    line-height: 1.3em;
}

h5 {
    font-size: 1.125em; /* 18px / 16px = 1.125em */
    line-height: 1.4em;
}

h6 {
    font-size: 1em; /* 16px / 16px = 1em */
    line-height: 1.5em;
}

/* PARAGRAPHS */
p{
    margin: 0 0 .5em 0;
}

/* LINKS */
a { color: #39c; text-decoration: none;}
a:hover { color: #069; text-decoration: underline;}
a:focus { color: #39c; }
a:visited { color: rgb(140, 124, 155);}

/* LISTS */

ul, ol, li {
    margin:0;
    padding: 0;
}

ul, ol {
    padding-bottom: 1em;
}

ul ul, ol ul, ol ol, ol ul {
    padding-bottom: 0;
}

li {
    margin-left: 1.875em;
}

/* BLOCKQUOTE */

blockquote{
    font-size: 1.142em;
    margin: 1em 2em;
    padding: 1.5em;
    border-left: .35em solid #888;

}

cite{
    display: block;
    opacity: 0.8;
    font-size: 0.875em;
}

cite:before{
    content: "\2014";
    margin-right: 0.25em;
}

/* #HELPERS */
.text-centered{
    text-align: center;
}

.hidden{
    position: absolute;
    top:-9999px;
    left:-9999px;
}

@media (min-width: 768px) {
.hidden-desktop{
    position: absolute;
    top:-9999px;
    left:-9999px;
}
}

@media (max-width: 767px) {
.hidden-mobile{
    position: absolute;
    top:-9999px;
    left:-9999px;
}
}

.subheader{
    color: #999;
    margin-top:1em;
    font-style: normal;
    font-weight: normal;
    clear: both;
}

/* HORIZONTAL RULES */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 2em 0;
}

/* #CODE */
pre, code {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 0.875em;
}

pre {
    margin: 1.5em 0 3em 0;
    line-height: 1.2em;
}

code {
    display: block;
    padding: 1em 1.875em;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: 2px solid #ccc;
    overflow-x: auto;
}

/* #MEDIA */
/* #IMAGES */
img.scale-with-grid{
    max-width: 100%;
    height: auto;
}

img.float-left{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    clear: both;
}

/* Circular Images */
img.circular{
    border-radius: 100%;
}

/* VIDEO */
.video{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height:0;
    margin-bottom: 1em;
}
.video iframe{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #COMPONENTS */
/* #BUTTONS */
button{
    font-size: inherit;
}

button, a.button {
    display:inline-block;
    background-color: #ffd1d1;
    border: 1px solid #ffd1d1;
    color: #fff;
    padding: .75em 1em;
    -webkit-border-radius: .32em;
    -moz-border-radius: .32em;
    border-radius: .32em;
    margin-top: .5em;
    margin-bottom: .5em;
    border:none;
    cursor: pointer;
    line-height: 1em;
}

button.alt, a.button.alt {
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid #ffd1d1;
    color: #ffd1d1;
}

button:hover, a.button:hover{
    background-color: #fca9a9;
    color: #fff;
    border-color: #fca9a9;
    text-decoration: none;
}

/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
        #DEFAULT+ (Mobile First - Default Settings in the CSS Above)
        #SMALL- (Mobile Only Overrides) - max-width: 767px
        #MEDIUM+ (Tablet) - min-width: 768px
        #LARGE+ (Desktop+) - min-width: 1250px */
/* SMALL+ (Mobile First Default) */
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 92%;
    margin: 0 auto;
    padding: 0 4%;
}

/* SMALL- MEDIA QUERY (e.g. for mobile overrides) */

@media (max-width: 767px) {
    /* Inherits Small/Mobile Body Type from Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}

/* #MEDIUM+ MEDIA QUERY */
@media (min-width: 768px) {
    /* Inherits Small/Mobile Body Type From Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}

/* #LARGE+ MEDIA QUERY */
@media (min-width: 1050px) {
    /* LARGE BODY TYPE */
    body {
        font-size: 100%;
        /* 16px; */
    }
    /* FIXED WIDTH */
    .container {
        width: 900px;
        padding: 0 50px;
    }
}

/* EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: 1250px) {
    /* EXTRA-LARGE BODY TYPE */
    body {
        font-size: 112.5%;
        /* 18px; */
    }
    /* FIXED WIDTH */
    .container {
        width: 1100px;
    }
}

/* Default Grid (on SMALL+ Screen Sizes) */
.row {
    margin: 0;
}

.column {
    margin: 0 0 3em 0;
}

/* Medium Grid (on MEDUIM+ Screen Sizes) */
@media (min-width: 768px) {
    .column {
        float: left;
        margin-right: 8%; /* COLUMN GUTTER */
    }
    .column:last-child {
        margin-right: 0;
    }
    .column.centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .one-whole.column {
        width: 100%;
    }
    .one-half.column {
        width: 46%;
    }
    .one-third.column {
        width: 28%;
    }
    .two-thirds.column {
        width: 64%;
    }
    .one-fourth.column {
        width: 19%;
    }
    .one-fifth.column {
        width: 13.6%;
    }
}

/* #CLEARFIXES */
.group:after,
.row:after,
.container:after,
.nav:after {
    content: "";
    display: table;
    clear: both;
    font-size: 0;
}

/* FOR DEMO PURPOSES */
.demo .column {
    background-color: #ccc;
}
.demo .column p {
    text-align: center;
    margin: 0;
    padding: 1em;
}

/* FOR DEMO PURPOSES ONLY */
.demo {
    padding: 2em 0;
}

.demo:after {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    content: 'Medium (768px -1049px)' ;
    color: #fff;
    background: #993333;
}

@media (min-width: 768px) {
    body.demo:after {
        content: 'Large (1050px - 1249px)';
        background: #bcb83d;
    }
}

@media (min-width: 1050px) {
    body.demo:after{
        content: 'Large (1050px - 1249)';
    background: #669933;
    }
}

@media (min-width: 1250px) {
    body.demo:after{
        content: 'Extra Large (1250px +)';
        background: #0099cc;
    }
}

.demo .column {
    padding: 1.5em 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.demo .column p {
    padding: 0 .5em;
}

.demo .column p:last-child {
    margin-bottom: 0;
}

/* BASE SITE */

/* STRUCTURE */

/* HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: #000;
    text-decoration: none;
}

.site-header a:hover,
.site-footer a:hover {
    color: #069;
}

/* HEADER ONLY */
.site-header {
    padding-top: 1em;
}

.site-header .container:after {
    display: block;
    content: '';
}

/* FOOTER ONLY */
.site-footer {
}

.site-footer .container {
    padding-top: 0;
    padding-bottom: 1em;
}

.site-footer .container:before {
    display: block;
    content: '';
    padding-bottom: .5em;
}

/* SITE BRANDING */

.site-branding {
    text-align: center;
}

.site-branding h1 {
    margin: 0;
    font-size: 1.5em;
    color: #999;
}

.site-branding h1 a {
    display: inline-block;
    padding: .5em 0;
}

@media (min-width: 768px) {
    .site-branding {
        float: left;
    }
}

/* Main Content*/
.site-main {
    padding-top: 2em;
}

.container.full-width {
    width: 100%;
    padding: 0;
}

section {
    padding: 1.5em 0;
}

.hero {
    background: #eee;
    padding-top: 4em;
    padding-bottom: 3em;
}

.hero h1,
.hero h2 {
    font-size: 3em;
    line-height: 1.1em;
    max-width: 10em;
}

.hero p {
    max-width: 595px;
}

.hero.text-centered p,
.hero.text-centered h1,
.hero.text-centered h2 {
    margin-left: auto;
    margin-right: auto;
}

/* SITE NAVIGATION */

.site-navigation {
    text-align: center;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.site-navigation ul li a {
    display: block;
    padding: 1em;
}

.site-footer .site-navigation ul {
    border-top: none;
}

@media (min-width: 768px) {

    .site-header .site-navigation {
        float: right;
    }

    .site-navigation ul {
        border-top: none;
    }
}

/* Navicon Menu */

.menu-button {
    color: rgba(255, 255,255, 0);
}

.menu-button::-moz-selection {
    color: rgba(255, 255,255, 0);
    background: none;
}

.menu-button::selection {
    color: rgba(255, 255,255, 0);
    background: none;
}

.menu-button.navicon:after {
    content: '\2630';
    display: block;
    float: right;
    color: #333;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1em;
    width: 1em;
    height: 1em;
    transform: rotate(0deg);
    transition: .3s ease all;
}

.menu-button.expanded.navicon:after {
    content: '\2715';
    transform: rotate(90deg);
    width: 10px;
    transition: .3s ease all;
    margin: -.1em .5em .5em -.5em;
}

/* Toggle Nav */

.toggle-nav .menu-button {
    display: none;
}

@media (max-width: 767px) {

    .toggle-nav .site-branding {
        float: left;
    }

    .toggle-nav .menu-button {
        display: block;
        float: right;
        margin-top: 0.9em;
    }

    .toggle-nav .menu-button + ul {
        clear: both;
        display: none;
    }

    .toggle-nav .menu-button.expanded + ul {
        display: block;
        padding: .25em 0;
    }

    .toggle-nav .menu-button.expanded + ul li{
        display: block;
        clear: both;
        float: none; /*good practice to have full control -- dont need clear or float*/
        margin: .5em 0;
    }

    .toggle-nav .menu-button.expanded + ul li a{
        padding: .75em 0;
        transition: all .5s ease;
    }

    .toggle-nav .menu-button.expanded + ul li a:hover{
        background: #ffd1d1;
        color: #fff;
    }

/* Toggle nav animated */
.toggle-nav.animated .site-navigation ul {
    display: block;
    max-height: 0;
    overflow: hidden;
}

.toggle-nav.animated .menu-button.expanded + ul {
    display: block;
    max-height: 1000px;
    overflow: hidden;
    transition: .1s ease-in all;
}

}

/*SUB PAGES*/

article {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article h1,
article h1 + .subhead,
article .date {
  text-align: center;
}

article h2.subhead {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2;
}

article .subhead {
  font-weight: normal;
  opacity: 0.7;
}

article .date {
  font-size: 0.75em;
  opacity: 0.5;
  margin-bottom: 3em;
}

article p + h1
article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
  margin-top: 1.5em;
}

article p:first-of-type {
  font-size: 1.4em;
  line-height:1.3em;
}

article p:first-of-type:first-letter {
  font-size: 4em;
  background: #000000;
  color: #ffffff;
  line-height: 1em;
  padding: .2em .4em;
  margin-right: .4em;
  margin-bottom:.1em;
  float: left;
}

/* FORMS */

form {
  max-width: 600px;
  margin: 2em auto;
}

form input,
form textarea {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  margin-bottom: 1.5em;
  width: 100%;
  padding: .5em;
  color: #666;
  border: 1px solid #ccc;
}

form textarea {
  min-height: 8em;
}

form input[type=submit] {
  width: auto;
  background-color: #ffd1d1;
  border: 1px solid #ffd1d1;
  color: #fff;
  padding: .75em 1em;
  -webkit-border-radius: .32em;
  -moz-border-radius: .32em;
  border-radius: .32em;
  margin-top: .5em;
  margin-bottom: .5em;
  border:none;
  cursor: pointer;
  line-height: 1em;
}

form input[type=submit]:hover {
  background-color: #fca9a9;
  color: #fff;
  border-color: #fca9a9;
}
